body{
    margin: 0;
    padding: 0;
    font-family: "oswald", sans-serif;
}

 /* navbar styling  */
.navbar{
    background-color: burlywood;
    display: flex;
    justify-content: space-between;
}

.logo{
    color: black;
}

.header{
    color: black;
}

.navlinks{
    padding: 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    /* flex-wrap: wrap; */
    gap: 15px;
}

 .navlinks a {
    text-decoration: none;
    color: black;
    display: block;
}

.navlinks a:hover{
    color: gold;
    transform: rotate(30deg);
}
/* hero section styling */

.hero{
    display: flex;
    justify-content: center;
    background-image: url(https://plus.unsplash.com/premium_photo-1679830513990-82a4280f41b4?w=700&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8YWlyJTIwcGxhbmV8ZW58MHx8MHx8fDA%3D);
    width: 100%;
    height: 400px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.hero h1{
    font-size: 50px
}

.hero button{ 
    width: 200px;
    height: 60px;
    background-color: black;
    color: burlywood;
    font-size: 30px
}

.hero button:hover{
    opacity: 0.3;
}


/* menu styling */

.search-space{
    display: flex;
    justify-content: center;
    margin: 30px;
    position: relative;
}

.search-space input{
    width: 500px;
    height: 45px;
    padding-left: 30px;
    border-radius: 20px;
    border: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    font-size: medium;
}

@media screen and (min-width:768px){
.menu{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    margin: 10px 20px 10px;
}
}

.menu-locations{
    background-color: burlywood;
    width: 250px;
    height: 435px;
    padding-left: 25px;
    border-radius: 10px;
}


.Menu-h1{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* about styling */
.about-hd{
    display: flex;
    justify-content: center;
    align-items: center;
}

    .about{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 70px;
    }


button{
    background-color: black;
    color: burlywood;
}


/* contact */
.contact h2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.contact-info{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-info {
    width: 350px;
    height: 30px;
    font-size: 15px;
}
.submit{
    margin-top: 15px;
    margin-bottom: 10px;
    width: 350px;
    height: 30px;
    background-color: black;
    color: white;
    border: none;
}
.login{
    width: 350px;
    height: 30px;
    background-color: black;
    color: white;
    font-size: 18px;
    border: none;
}

/* footer styling */
footer{
    background-color: black;
    margin-top: 50px;    
}

.footer_content{
    text-align: center;
    color: burlywood;
}

.footer_content_icons{
     padding: 20px;
     display: flex;
     justify-content: center;
     font-size: 30px;
     gap: 10px;
     border-radius: 100%;
     font-weight: bolder;
     color: burlywood;
} 